@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*
{
    color: #EEEEEE;
    
    &:focus
    {
        outline: none;
        box-shadow: 0 0 0 3px #76ABAE;
        border-radius: 5%;
    }
}
body 
{
    font-family: "Kanit";
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../imgs/landing.webp");
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    width: calc(100% - 40px);
    padding: 5px 20px 20px 20px;

    & > span
    {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 5px;
    }
}
/*html
{
    &::-webkit-scrollbar
    {
        width: none;
    }
    scrollbar-width: none;
}*/
table 
{
    background-color: #31363F;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
}
table th:not(:last-child),
table td:not(:last-child) 
{
    border-right: 1px solid black;
}
table>thead>tr:not(:last-child)>th,
table>thead>tr:not(:last-child)>td,
table>tbody>tr:not(:last-child)>th,
table>tbody>tr:not(:last-child)>td,
table>tfoot>tr:not(:last-child)>th,
table>tfoot>tr:not(:last-child)>td,
table>tr:not(:last-child)>td,
table>tr:not(:last-child)>th,
table>thead:not(:last-child),
table>tbody:not(:last-child),
table>tfoot:not(:last-child) 
{
    border-bottom: 1px solid black;
}
tr:first-of-type > th:first-of-type
{
    border-top-left-radius: 5px;
}
tr:first-of-type > th:last-of-type
{
    border-top-right-radius: 5px;
}
th, td {
    
    padding: 10px;
    text-align: center;
}
tr:nth-child(even)
{
    background-color: #222831;
}
tr:nth-of-type(1), tr>td:nth-of-type(1), tr>td:nth-of-type(2)
{
    color: #222831;
    background-color: #76ABAE;
    font-weight: bold;
}

a 
{
    color: #bfcad6;
    text-decoration: none;

    &:hover 
    {
        text-decoration: underline;
    }
}
